@font-face {
    src: url(../fonts/RobotoLight.ttf);
    font-family: RobotoMain; 
   }
   @font-face{
	src: url(../fonts/Hattori_Hanzo.otf);
	font-family: Hanzo;
}
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
#wrapper{
	position: absolute;
	height: 100%;
	width: 100%;
	filter:blur(0px);
	background-size: cover;
}
.content{
	max-width:1050px;
	min-height:100%;
	margin: 0 auto;
	display: grid;
	grid-template-rows: 40% 60%;
	border: 2px solid green;
	padding: 5% 0;
}
.header{
	border: 2px solid pink;
	background: white;
	display: grid;
	grid-template-columns: 25% 40% 35%;
}
@keyframes shadowgrowth {
  from {
    box-shadow: 8px 5px 25px 1px rgba(252, 93, 110, .5);
  }
  25% {
    box-shadow: 8px 5px 40px 1px rgba(201, 93, 184, .5);
  }
  50% {
    box-shadow: 8px 5px 25px 1px rgba(74, 164, 247, .5);
  }
  75% {
    box-shadow: 8px 5px 40px 1px rgba(136, 100, 255, .5);
  }
  to {
    box-shadow: 8px 5px 25px 1px rgba(252, 93, 110, .5);
  }
}
#songimage {
	width:200px;
	height:200px;
	border-radius: 50%;
	background: url(../img/tune.png) no-repeat; 
	/*background-size: auto 2in;*/
	background-position: center;
	/*box-shadow: 8px 5px 30px 1px rgba(255, 0, 0, .2);*/
	align-self: center; 
	background-size: 100%;
	justify-self: center;
	animation: shadowgrowth 3s infinite linear alternate;
}
.songinfo{
	
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}
.artist {
	align-self: end; 
	font-family: Hanzo;
	font-size: 25px;

	color: grey;
}
.songname{
	align-self: center;
	font-family: Hanzo;
	font-size: 25px;

	color: grey;
}


.links{
	display: grid;
	grid-template-columns: 50px 50px 50px auto;

}
.shazam{
	width:40px;
	height:40px;
	border-radius: 50%;
	background: url(../img/shazam.gif) no-repeat; 
	background-position: center;
	align-self: center; 
	background-size: 100%;
	justify-self: center;
	cursor: pointer;
}
.vk{
	width:45px;
	height:45px;
	border-radius: 50%;
	background: url(../img/vk.png) no-repeat; 
	background-position: center;
	align-self: center; 
	background-size: 100%;
	justify-self: center;
	cursor: pointer;
}
.itunes{
	width:40px;
	height:40px;
		border-radius: 50%;
	background: url(../img/itunes.png) no-repeat; 
	background-position: center;
	align-self: center; 
	background-size: 100%;
	justify-self: center;
	cursor: pointer;
}
.timer{
	justify-self: end; 
	margin: 55px 30px;
	font-family: Hanzo;
	font-size: 25px;
	color: grey;
}
.main-content{
	background: white;
	display: grid;
	grid-template-columns: 25% 75%;
}
.chatarea{
	border:2px solid blue;
}
.playersbar{
	border:2px solid yellow;
	display: grid;
	grid-template-rows: 10% 10% 10% auto;
	grid-template-columns: 10% auto 10% 10% ;
	grid-row-gap: 15px;
	grid-column-gap: 20px;
	align-items: center;
	margin: 10px;
	padding:10px;
	border-radius: 2%;
	background-color: rgb(250,92,115);
}
.profilepicture{
	width:40px;
	height:40px;
	cursor: pointer;
}


#pic1{
background: url(../img/1av.jpg) no-repeat; 
background-position: center;
background-size: 100%;
}
#pic2{
background: url(../img/2av.jpg) no-repeat; 
background-position: center;
background-size: 100%;
}
#pic3{
background: url(../img/3av.jpg) no-repeat; 
background-position: center;
background-size: 100%;
}

.usernick{
	align-self: center;
	font-family: Roboto;
	font-size: 15px;
	margin-left: 5px;
	font-weight: bold;
	color:white;
}
.profilepicture:hover{
 animation: shadowgrowth 3s infinite linear alternate;
  }
  .ready{
  	background: white;
  	width: 15px;
  	height: 15px;
  	border-radius: 100%;
  	   box-shadow: 2px 2px 7px 1px rgba(0, 0, 10, .5);
  }
  .points{
  	color:white;
  }
.chatarea{
	display: grid;
	grid-template-rows:80% 20%;
}
#p1{
	background-color: lime;
}
.chatoutput textarea{
	margin: 10px;
	width: 97.5%; 
	height: 100%;
	padding: 10px;
	background-color: rgb(228,246,243);;
	border-radius: 2%;
	border:none;
    resize: none; 
}
.chatinput{
	
	display: grid;
	grid-template-columns: 80% 20%;
	padding: 10px;
	column-gap: 10px;

}
.chatinput input{
}
#message{
	width : 100%;
	height: 40px;
	align-self: center;
	border:none;
	border-radius: 5%;
	background-color: rgb(228,246,243);
	color:grey;
	font-size: 25px;
	padding: 5px;
	font-family: Roboto;

}
#messagebutton{
	width : 90%;
	height: 40px;
	align-self: center;
	border:none;
	border-radius: 5%;
	background-color: rgb(250,92,115);
	color:white;
	font-size: 25px;
	padding: 5px;
	font-family: Roboto;

}
#messagebutton:hover{
	background-color: white;
	color:grey;
}